name: Publish

on:
  push:
    tags:
      - 'v*.*.*'

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          registry-url: https://registry.npmjs.org/
          cache: 'pnpm'
      - run: npm install -g npm@latest  # Ensure npm 11.5.1 or later for OIDC
      - run: pnpm install --frozen-lockfile
      - run: pnpm version ${{ github.ref_name }} --no-git-tag-version
      - run: pnpm publish --access public --no-git-checks
